# Application

APP_NAME                        = <Application name>                                # FoodApp
PORT                            = <Application port>                                # 4000

APP_CLIENT_URL                  = <Frontend url>                                    # http://localhost:3000

# Database

POSTGRES_HOST                   = <Database host>                                   # localhost
POSTGRES_PORT                   = <Database port>                                   # 5432
POSTGRES_USER                   = <Database username>                               # postgres
POSTGRES_PASSWORD               = <Database password>                               # root
POSTGRES_DB_NAME                = <Database name>                                   # food
POSTGRES_INIT_DB_NAME           = <Database name>                                   # postgres

# User security

JWT_ACCESS_EXPIRES_IN           = <JWT access token expires in (1m | 1h | 1d)>      # 1h
JWT_REFRESH_EXPIRES_IN          = <JWT refresh token expires in (1m | 1h | 1d)>     # 1d
JWT_SECRET                      = <JWT secret>                                      # secret
JWT_REFRESH_SECRET              = <JWT refresh secret>                              # refresh secret
ENCODE_SALT                     = <Salt for password encoding>                      # 10
STRIPE_SECRET_KEY               = <stripe secert>                                   # sk_test_51MsSd9EGkzaIt3SVuynXlI3y207e08D22lfnWQLNeM5hneqJEsWdZuvp5RwugSemI6cFXQQwDvUWKrDLZ7mH03T1000d3FkhZ0
GOOGLE_CLIENT_ID                = <google client id>                                #574091632675-gn0778hrhm6v601ece849bg2qajtqjeb.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET            = <google client secret>                            #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